In [7]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
path=r"C:\Users\SHASHI PREETHAM\Documents\Nareshit\EDA\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(8)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.3900,Year,Y,Certified
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied

**standardization**

- standardization means scaling the data into one scale

- we have different columns has different units so that the value will vary

- one column has very huge value

- another column has very less value

- so it is important to scale all types of units under one scale

- we have two procedures (standardization and normalization)

- standardization

    - z score

- normalization

   - min max scalar
    
   - value ranges from 0 to 1

In [ ]:
#step1: take the prewailing wage column
#z score= x-mean/sigma

#step2: cal mean of prewailing wage
#step3: cal std of prevailing wage
#step4: numerator: prevailing wage
#step5: pwage_zscore=numerator/denominator

In [9]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
Nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=Nr/pwage_std

In [5]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()

(319210.27, 4.634101837909902)

$StandardScaler$

In [13]:
# read the package
# save the package
# apply fit transform
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit_transform(visa_df[['prevailing_wage']])

array([[-1.39853722],
       [ 0.1698353 ],
       [ 0.91907852],
       ...,
       [ 1.36027953],
       [ 0.22150859],
       [-0.06776315]])

In [11]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

**normalization**

$minmaxScaler$

In [ ]:
# x-x_min/(x_max-x_min)

# step1: read the pwage column
# step2: find the min value of pwage column
# step3: find the max value of pwage column
# step4: nr=

In [ ]:
path=r"C:\Users\SHASHI PREETHAM\Documents\Nareshit\EDA\Visadataset - Visadataset.csv"

$MinMaxScaler$

In [15]:
from sklearn.preprocessing import MinMaxScaler
ss=MinMaxScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [16]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64